<header class="mb-4">
    <nav class="navbar navbar-expand-lg navbar-light bg-light bg-info text-white">
        <div class="container justify-content-between">
            <a class="navbar-brand mb-0 h1" href="#">Softec</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="#">Products <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="#">orders</a>
                </div>
            </div>
        </div>
    </nav>
</header>